{% if (label.certifications ?? [])|length > 0 %}
    <div class="certifications">
        {% for certif in label.certifications %}
            {% set path = 'images/certifications/' ~ certif ~ '.png' %}
            <img class="certification certification-{{ certif }}" src="{{ asset(path) }}" />
        {% endfor %}
    </div>
{% endif %}