{% if organicLabels is defined and organicLabels|length > 0 %}
    <ul id="organic-labels">
        {% for label in organicLabels %}
            {% set id = 'organic-label-' ~ label %}
            {% set path = 'images/organic-labels/' ~ label ~ '.png' %}
            <li id="{{ id }}" class="organic-label">
                <img src="{{ asset(path) }}" alt="{{ id|trans }}" />
            </li>
        {% endfor %}
    </ul>
{% endif %}