.ingredients {
    > * {
        display: inline;
    }

    &.long {
        font-size: 0.9em;
    }

    b, tspan.b {
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
    }
}

tspan.ingredients {
    font-size: 0.9em;
}