.ingredients {
    > * {
        display: inline;
    }

    h1:after {
        content: ' :';
    }

    &.long {
        font-size: 0.9em;
    }

    b {
        font-style: italic;
        text-decoration: underline;
    }
}