<section class="ingredients">
    <h1>{{ 'Ingrédients'|trans }}</h1>
    <ul>
        {% for ingredient in ingredients|merge(ingredients_extra ?? []) %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <p>{{ org.address }}</p>
</section>