@import 'label/container';

:root {
    --label-size-width: 1000px;
    --label-font-size-ratio: calc(25 / 1000);
}

.label {
    $color-blue: #6288c0;
    $color-orange: #cf5b37;

    @import 'label/element/ingredients';
    @import 'label/format/5of2';
    @import 'label/boite-aux-lettres';
    @import 'label/châtaignes';
    @import 'label/four-parts-in-a-round';
    @import 'label/icecream';
    @import 'label/three-parts-rectangle';

    width: var(--label-size-width);
    height: calc( var(--label-size-width) / var(--label-size-ratio) );
    font-size: calc( var(--label-size-width) * var(--label-font-size-ratio) );
    font-family: 'Roboto', sans-serif;

    header, main, footer {
        text-align: center;

        h1, svg .h1, h2, h3 {
            font-family: 'Amatic SC', cursive;
        }

        h1 {
            color: $color-orange;
            -webkit-text-stroke: 0.02em black;
        }
    }
}