@media screen {
    body {
        display: flex;
        justify-content: center;
        align-items: center;

        > .label, > .page {
            border: $border-container;
        }

        > nav {
            position: fixed;
            top: $space-lg;
        }
    }
}