&.châtaignes {
    header {
        grid-template-rows: 100% 0%;
    }

    main {
        align-items: end;
    }

    main > h1 {
        font-size: 5em;
    }

    main > h2 {
        color: unset;
        -webkit-text-stroke: unset;
        background-color: unset;
    }

    .address {
        font-size: 0.9em;
    }
}