body.container-label {
    @media screen {
        height: 100vh;

        > .label {
            transition: transform 0.2s ease;

            &:hover {
                transform: rotate(-90deg) translateX(-400px);
            }
        }

        > nav#labels {
            left: 1em;
        }

        > nav#pages {
            top: 50%;
            right: 1em;
        }

        > nav#versions {
            right: 1em;
        }
    }
}