.format-180g {
    $width-print: 99.1mm;
    $height-print: 42.3mm;
    $ratio: calc($height-print / $width-print);
    $width-screen: 1000px;
    $height-screen: calc($width-screen * $ratio);

    @media screen {
        width: $width-screen;
        height: $height-screen;
        font-size: 25px;
    }

    @media print {
        width: $width-print;
        height: $height-print;
        font-size: 9px;
    }

    main.page > & {
        width: $width-print;
        height: $height-print;
        font-size: 9px;
    }
}