&.three-parts-rectangle[class*="icecream_"] {
    --width-main: 30%;
    --width-aside: 30%;

    header {
        margin-top: $space-lg;

        h1 {
            align-content: end;
        }
    }

    main {
        h1 {
            align-self: end;

            &.long {
                font-size: 4.2em;
            }
        }

        h2 {
            background-color: unset;
            color: black;
        }
    }

    aside {
        border-left: 0.1em solid #bbb;
        height: calc(100% - 2 * $space-sm);

        :not(.quantity) {
            height: 100%;
        }

        .quantity {
            left: calc(var(--width-header) + var(--width-main) + 2*var(--column-gap) + $space-md);
            right: unset;
            writing-mode: vertical-rl;
        }
    }
}