&.saucisse-seche {
    main {
        height: 80%;

        h1 {
            line-height: 0.7em;

            small {
                color: black;
                font-size: 0.8em;
                -webkit-text-stroke: 0;
            }
        }
    }
}