&.three-parts-rectangle {
    --width-header: 38%;
    --width-main: 48%;
    --width-aside: 12%;
    --column-gap: 1%;

    position: relative;
    display: grid;
    grid-template-columns: var(--width-header) var(--width-main) var(--width-aside);
    column-gap: var(--column-gap);

    /**
     * Contain the organization logo, title and slogan
     */
    header {
        display: grid;
        grid-template-rows:  90% 10%;

        // title + logo as background image
        h1 {
            background: no-repeat center / contain;
            display: grid;
            align-content: center;
            font-size: 3.2em;
        }

        // slogan
        h2 {
            font-size: 1.4em;
            -webkit-text-stroke: 0.01em;
        }
    }

    /**
     * Contain the label title and subtitle.
     */
    main {
        display: grid;
        align-items: center;
        height: 95%;

        // title
        h1 {
            font-size: 5em;
            letter-spacing: -0.02em;
            line-height: 0.9em;
        }

        // subtitle
        h2 {
            align-self: baseline;
            background-color: $color-blue;
            color: white;
            font-size: 3em;

            &.long {
                font-size: 2em;
            }
        }
    }

    /**
     * Contain organization and/or label aside information: address, ingredients, quantity, etc.
     */
    aside {
        display: flex;
        column-gap: $space-md;
        justify-content: end;
        overflow: hidden;
        height: 90%;
        padding: $space-sm;
        font-size: 0.80em;

        b {
            font-weight: bold;
        }

        > :not(.quantity) {
            writing-mode: vertical-rl;
        }

        .extra-info > li {
            margin-right: $space-md;
        }

        .extra-info, .address {
            font-size: 0.9em;
        }

        .quantity {
            position: absolute;
            bottom: $space-sm;
            right: $space-sm;

            font-size: 1.2em;
            font-weight: bold;
        }
    }

    /**
     * Contain the label certifications, QR code and barcode.
     */
    footer {
        position: absolute;
        bottom: 0;
        left: calc(var(--width-header) + var(--column-gap));
        width: var(--width-main);
        display: flex;
        column-gap: $space-md;
        flex-wrap: wrap;
	    justify-content: center;

        img {
            height: 2em;
        }
    }
}