&.three-parts-rectangle {
    position: relative;
    display: grid;
    grid-template-columns: 38% 50% 10%;
    column-gap: 1%;

    /**
     * Contain the organization logo, title and slogan
     */
    header {
        display: grid;
        grid-template-rows:  90% 10%;

        // title + logo as background image
        h1 {
            background: no-repeat center / contain;
            display: grid;
            align-content: center;
            font-size: 3.2em;
        }

        // slogan
        h2 {
            font-size: 1.4em;
            -webkit-text-stroke: 1px;
            transform: scaleY(1.25);
        }
    }

    /**
     * Contain the item name and description.
     */
    main {
        display: grid;
        align-items: center;
        height: 95%;

        // name
        h1 {
            font-size: 6em;
            letter-spacing: -0.02em;
            line-height: 0.9em;
        }

        // description
        h2 {
            align-self: baseline;
            background-color: $color-blue;
            color: white;
            font-size: 3em;

            &.long {
                font-size: 2em;
            }
        }
    }

    /**
     * Contain organization and/or item aside information: address, ingredients, weight, etc.
     */
    aside {
        display: flex;
        justify-content: end;
        overflow: hidden;
        height: 87%;
        padding: $space-sm;
        font-size: 0.85em;

        .address,
        .ingredients {
            writing-mode: vertical-rl;
        }

        .address {
            margin-right: 0.3em;
        }

        .weight {
            position: absolute;
            bottom: $space-sm;
            right: $space-sm;
        }
    }
}