&.avery-rectangle-2x7 {
    @include size-page-a4($top: 1.65cm, $bottom: 1.45cm, $left: 0.45cm, $right: 0.45cm);
    @include grid(2, 7);
    grid-column-gap: 0.3cm;
    align-items: center;
    justify-items: center;

    @media screen {
        background: url('../images/page/avery-rectangle-2x7.jpg') no-repeat center center / contain;
    }

    > .label {
        --width-aside: 16%;
        @include label-size-with-buffer(99.2mm, 38mm, 1mm);

        > aside {
            padding-top: 0.7em;
        }
    }
}