&.avery-round-80mm-2x3 {
    // TODO: set the propper size for this label
    @include size-page-a4($top: 1.85cm, $bottom: 1.85cm, $left: 2cm, $right: 2cm);
    @include grid(2, 3);
    gap: 1cm;
    align-items: center;
    justify-items: center;

    > .label {
        --label-size-width: 80mm;
    }
}