&.avery-rectangle-2x4 {
    @include size-page-a4($top: 1.3cm, $bottom: 1.3cm, $left: 0.4cm, $right: 0.5cm);
    @include grid(2, 4);
    grid-column-gap: 3mm;
    align-items: center;
    justify-items: center;

    @media screen {
        background: url('../images/page/avery-rectangle-2x4.jpg') no-repeat center center / contain;
    }

    > .label {
        @include label-size-with-buffer(99.1mm, 67.7mm, 1.5mm);
    }
}